html:root {
    --docsearch-primary-color: #5090D3;
    --docsearch-text-color: #fff;
    --docsearch-muted-color: #6F7E8C;
    --docsearch-searchbox-shadow: 0;
    --docsearch-hit-shadow: 0;
    --docsearch-footer-shadow: 0;
    --docsearch-spacing: 12px;
    --docsearch-hit-active-color: #66B2FF;
    --docsearch-logo-color: #6F7E8C;
    --docsearch-searchbox-focus-background: unset;
    --docsearch-footer-background: unset;
    --docsearch-modal-background: #0A1929;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./Assets/Montserrat/Montserrat-VariableFont_wght.ttf') format('ttf');
}

@font-face {
    font-family: 'Montaga';
    src: url('./Assets/Montaga/Montaga-Regular.ttf') format('ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(0, 30, 60);
    width: 100%;
    overflow-x: hidden;

}

#hide::-webkit-scrollbar {
    width: 0;
}

input,
button {
    font-family: 'Montaga';
}

.line {
    width: 100%;
    height: 3px;
    background-color: white;
    animation-name: line;
    animation-duration: 2000ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    transform-origin: left;
    margin-top: 10px;
}

@keyframes line {
    0% {
        transform: scaleX(0);
    }
}

#drawer {
    font-family: 'Montserrat';
}


.blog-link {
    border: 1px solid white;
    padding: 8px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    transition: all 100ms ease;
}

.blog-link:hover {
    background-color: white;
    color: #b01100;
}