html:root {
    --docsearch-primary-color: #5090D3;
    --docsearch-text-color: #fff;
    --docsearch-muted-color: #6F7E8C;
    --docsearch-searchbox-shadow: 0;
    --docsearch-hit-shadow: 0;
    --docsearch-footer-shadow: 0;
    --docsearch-spacing: 12px;
    --docsearch-hit-active-color: #66B2FF;
    --docsearch-logo-color: #6F7E8C;
    --docsearch-searchbox-focus-background: unset;
    --docsearch-footer-background: unset;
    --docsearch-modal-background: #0A1929;
} 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}  
body {
    background-color: rgb(0, 30, 60);
    width: 100%;
    overflow-x: hidden;
}

#hide::-webkit-scrollbar {
    width: 0;
}